<div class="login_page">
<h1>Welcome to MonsterMash!</h1>

<%= flash[:error] %>

<%= form_for @dm, url: login_path, method: :post do |f| %>
    <%= f.label "Username" %>
    <%= f.text_field :name %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "log in" %>
    <br>
    Or <%= link_to(controller: 'dms', action: 'new') { 'sign up' } %>
<% end %>
<div>
