<h1> Edit <%= @monster.name %> </h1>

<%= form_for @monster do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit "Change name" %>
<% end %>

<%= form_for @monster do |f| %>
    <%= f.collection_select :id, Dm.all, :id, :name %>
    <%= f.submit "Add Dm" %>
<% end %>

<%= button_to "Delete monster", monster_path(@monster), method: :delete %>
<%= button_to "Return to index", dms_path, method: :get %>