<h1> Monsters </h1>

<%= form_tag url_for('/monsters/order'), method: 'post' do %>
    <%= select_tag "order", raw("<option>Alphabetically</option><option>Popularity</option>") %>
    <%= select_tag "direction", raw("<option>Ascending</option><option>Descending</option>") %>
    <%= submit_tag "Order index" %>
<% end %> 

<ul>
    <% @monsters.each do |m| %>
    <li><%= link_to m.name, monster_path(m) %></li>
    <% end %>
</ul>

<%= button_to "Return to your proflie", dm_path(@dm), method: :get %>