<h1> Create a new monster</h1>

<%= render partial: "shared/error_list", locals: {new_object: @monster}  %>

<%= form_for @monster do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :size %>
    <%= f.select :size, ["Tiny", "Small", "Medium", "Large", "Huge", "Gargantuan"] %>  
    <br>
    <%= f.label :category %>
    <%= f.select :category, ["Aberration", "Beast", "Celestial", "Construct", "Dragon", "Elemental", "Fey", "Fiend", "Giant", "Humanoid", "Monstrosity", "Ooze", "Plant", "Undead"] %>  
    <br>
    <%= f.label :alignment %>
    <%= f.select :alignment, ["Lawful Good", "Neutral Good", "Chaotic Good", "Lawful Neutral", "True Neutral", "Chaotic Neutral", "Lawful Evil", "Neutral Evil", "Chaotic Evil"] %>  
    <br>
    <%= f.label :ac %>
    <%= f.number_field :ac, value: 10 %>
    <br>
    <%= f.label :hp %>
    <%= f.number_field :hp, value: 15 %>
    <br>
    <%= f.label :speed %>
    <%= f.number_field :speed, value: 30 %>
    <br>
    <%= f.label :strength %>
    <%= f.number_field :strength, value: @default %>
    <br>
    <%= f.label :dexterity %>
    <%= f.number_field :dexterity, value: @default %>
    <br>
    <%= f.label :constitution %>
    <%= f.number_field :constitution, value: @default %>
    <br>
    <%= f.label :intelligence %>
    <%= f.number_field :intelligence, value: @default %>
    <br>
    <%= f.label :wisdom %>
    <%= f.number_field :wisdom, value: @default %>
    <br>
    <%= f.label :charisma %>
    <%= f.number_field :charisma, value: @default %>
    <br>
    <%= f.label :cr %>
    <%= f.number_field :cr, value: 1 %>
    <br>
    <%= f.label :image %>
    <%= f.text_field :image %>
    <br>
    <h3> Add an action </h3>
    <%= f.fields_for :action do |nf| %>
        <%= nf.label :name %>
        <%= nf.text_field :name %>
        <br>
        <%= nf.label :description %>
        <%= nf.text_area :description %>
    <% end %>
    <br>
    <%= f.submit "Create monster" %>
<% end %>



