<h1> Monster Profile: <%= @monster.name %> </h1>
<h3>Created by: <%= @creator %> </h3>

<p>Size: <%= @monster.size %></p>
<p>Category: <%= @monster.category %></p>
<p>Alignment: <%= @monster.alignment %></p>
<p>AC: <%= @monster.ac %></p>
<p>HP: <%= @monster.hp %></p>
<p>Speed: <%= @monster.speed %></p>
<p>Strength: <%= @monster.strength %></p>
<p>Dexterity: <%= @monster.dexterity %></p>
<p>Constitution: <%= @monster.constitution %></p>
<p>Intelligence: <%= @monster.intelligence %></p>
<p>Wisdom: <%= @monster.wisdom %></p>
<p>Charisma: <%= @monster.charisma %></p>
<p>CR: <%= @monster.cr %></p>


<%= button_to "Edit this monster", edit_monster_path(@monster), method: :get %>

<%= button_to "Add this monster to your list", "/add/#{@monster.id}", method: :post %>

<%= button_to "Return to monster index", monsters_path, method: :get %>
