<div class="monster_display_pages">
<h1> Monster Profile: <%= @monster.name %> </h1>
<h3>Created by: <%= link_to @creator.name, dm_path(@creator) %> </h3>

<br>
<img src="<%= @monster.image %>" class="monster_image">
<br>

<p>Size: <%= @monster.size %></p>
<p>Category: <%= @monster.category %></p>
<p>Alignment: <%= @monster.alignment %></p>
<p>AC: <%= @monster.ac %></p>
<p>HP: <%= @monster.hp %></p>
<p>Speed: <%= @monster.speed %></p>
<p>Strength: <%= @monster.strength %></p>
<p>Dexterity: <%= @monster.dexterity %></p>
<p>Constitution: <%= @monster.constitution %></p>
<p>Intelligence: <%= @monster.intelligence %></p>
<p>Wisdom: <%= @monster.wisdom %></p>
<p>Charisma: <%= @monster.charisma %></p>
<p>CR: <%= @monster.cr %></p>
<p>Popularity: <%= @monster.popularity %> <%= if @monster.popularity == 1; "user"; else; "users"; end %></p>

<br>

<p> Actions: </p>
<% @monster.actions.each do |a| %>
    Name: <%= a.name %>
    <br>
    Description: <%= a.description %>
    <br>
    <br>
<% end %>

<br>

<% if session[:dm_id] == @monster.creator_id %>
    <%= button_to "Edit this monster", edit_monster_path(@monster), method: :get %>
<% end %>

<% if @creator.id != @dm.id %>
    <% if DmMonster.find_by(dm_id: @dm.id, monster_id: @monster.id)%>
        <%= button_to "Remove this monster from your list", "/remove/#{@monster.id}", method: :post %>
    <% else %>
        <%= button_to "Add this monster to your list", "/add/#{@monster.id}", method: :post %>
    <% end %>
<% end %>

<%= button_to "Return to monster index", monsters_path, method: :get %>

<%= button_to "Return to your proflie", dm_path(@dm), method: :get %>
</div>
