<h1> Edit <%= @dm.name %> </h1>

<%= form_for @dm do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit "Change name" %>
<% end %>

<%= form_for @dm do |f| %>
    <%= f.collection_select :id, Monster.all, :id, :name %>
    <%= f.submit "Add monster" %>
<% end %>

<%= button_to "Delete Dungeon Master", dm_path(@dm), method: :delete %>

<%= button_to "Return to your proflie", dm_path(@dm), method: :get %>

<%= button_to "Return to index(Dev)", dms_path, method: :get %>