<h1> Edit your profile </h1>

<%= form_for @dm do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.submit "Change email" %>
<% end %>

<%= button_to "Delete Dungeon Master", dm_path(@dm), method: :delete %>

<%= button_to "Return to your proflie", dm_path(@dm), method: :get %>

<%= button_to "Return to index(Dev)", dms_path, method: :get %>