<h1> Create a new Dungeon Master </h1>

<%= render partial: "shared/error_list", locals: {new_object: @dm}  %>

<%= form_for @dm, controller: 'dms', action: 'create' do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <%= f.label :email %>
    <%= f.password_field :email %>
    <%= f.submit "create" %>
  <% end %>