<h1> DM Profile for <%= @this_dm.name %></h1>

<h3>Email: <%= @this_dm.email %></h3>

<h3>Created monsters: </h3>

<ul>
<% @this_dm.monsters.each do |m| %>
    <% if @this_dm.id == m.creator_id %>
        <li><%= link_to m.name, monster_path(m) %></li>
    <% end %>
<% end %>
</ul>

<h3>Added monsters: </h3>

<ul>
<% @this_dm.monsters.each do |m| %>
    <% if @this_dm.id != m.creator_id %>
        <li><%= link_to m.name, monster_path(m) %></li>
    <% end %>
<% end %>
</ul>

<% if @mine == true %>
    <%= button_to "Edit your profile", edit_dm_path(@dm), method: :get %>
<% end %>

<% if @mine == true %>
    <%= button_to "Create new monster", new_monster_path, method: :get %>
<% end %>

<%= button_to "Go to monster index", monsters_path, method: :get %>

<%= button_to "Go to DM index", dms_path, method: :get %>

<% if @mine == false %>
    <%= button_to "Return to your proflie", dm_path(@dm), method: :get %>
<% end %>

<br> 

<% if @mine == true %>
    <%= button_to "Logout", '/logout', method: :post %>
<% end %>
