<h1> DM Profile for <%= @dm.name %></h1>

<h3>Your name is <%= @dm.name %></h3>

<h3>Your monsters: </h3>

<ul>
<% @dm.monsters.each do |m| %>
    <li><%= link_to m.name, monster_path(m) %></li>
<% end %>
</ul>

<%= button_to "Edit this Dungeon Master", edit_dm_path(@dm), method: :get %>

<%= button_to "Create new monster", new_monster_path, method: :get %>

<%= button_to "Go to monster index", monsters_path, method: :get %>

<%= button_to "Dm index (Dev)", dms_path, method: :get %>